	<!-- Header -->
		<div id="header"{% if page.bgimage %} style="background-image: url(../../images/{{ page.bgimage }})"{% endif %}>
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="http://saylor.org">Saylor.org</a></li>
						<li><a href="{{site.url}}">Course Index</a></li>
						<li><a href="{{page.previous}}">Previous</a></li>
						<li><a href="{{page.next}}">Next</a></li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">{{page.course}}: {{page.course_fulltitle}}</a></h1>
					<span class="tag">{{page.course_description}}</span>
				</div>
			</div>
		</div>
	<!-- Header --> 