	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Get in touch</h2>
						<span class="byline">We'd love to hear from you</span>
					</header>
					<ul class="contact">
						<li><a href="http://twitter.com/#!/{{site.twitter_username}}" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="http://www.facebook.com/{{site.facebook_username}}" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="https://github.com/{{site.github_username}}" class="fa fa-github"><span>GitHub</span></a></li>
						<li><a href="https://plus.google.com/{{site.googleplus_username}}/posts" class="fa fa-google-plus"><span>Google+</span></a></li>
						<li><a href="http://saylor.org" class="fa fa-mail-forward"><span>email</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>
	<!-- /Copyright -->