<!-- Header
   =================================================== -->
<header id="main-header">

	<div class="row header-inner">

		<div class="logo">
			<a href="{{site.url}}">Saylor Academy</a>
		</div>

		<nav id="nav-wrap">

			<a class="mobile-btn" href="#nav-wrap" title="Show navigation">
				<span class='menu-text'>Show Menu</span>
				<span class="menu-icon"></span>
			</a>
			<a class="mobile-btn" href="#" title="Hide navigation">
				<span class='menu-text'>Hide Menu</span>
				<span class="menu-icon"></span>
			</a>

			<ul id="nav" class="nav">
				<li>
					<a href="http://saylor.org">Main Page</a>
				</li>
				<li>
					<a href="{{site.url}}#courselist">Course Index</a>
				</li>
				<li>
					<a href="http://saylor.org/blog">Blog</a>
				</li>
			</ul>

		</nav>
		<!-- /nav-wrap -->

	</div>
	<!-- /header-inner -->

</header>

<!-- Hero
   =================================================== -->
<section id="hero">

	<div class="row hero-content">

		<div class="twelve columns flex-container">

			<div id="hero-slider" class="flexslider">

				<ul class="slides">
					<h1>
						{{page.title}}
						<!--<span>.</span>-->
				</h1>
				<!--<p>{{page.description}}</p>-->
			<!-- Slide -->
			<li>
				<div class="flex-caption">
					<h2>
						Welcome. These are Saylor Academy's community-maintained "legacy" courses. They are not being actively worked on by Saylor Academy staff, but represent the combined efforts of a team of professors, subject-matter experts, and the Saylor community.
					</h2>
					<p>
						<a class="button stroke smoothscroll" href="http://saylor.org">More About Saylor Academy</a>
					</p>
				</div>
			</li>

			<!-- Slide -->
			<li>
				<div class="flex-caption">
					<h2 >
						Looking for our current courses, which include opportunities to get credit and receive certificates of completion?
					</h2>
					<p>
						<a class="button stroke smoothscroll" href="https://learn.saylor.org">Click Here for our Current Courses</a>
					</p>
				</div>
			</li>

			<!-- Slide -->
			<li>
				<div class="flex-caption">
					<h2>
						Want to help us by contributing updates to these courses? Check us out on GitHub!
					</h2>
					<p>
						<a class="button stroke smoothscroll" href="https://github.com/saylordotorg">Saylordotorg on GitHub</a>
					</p>
				</div>
			</li>

		</ul>

	</div>
	<!-- .flexslider -->

</div>
<!-- .flex-container -->

</div>
<!-- .hero-content -->

</section>
<!-- #hero -->