<!-- Header
   =================================================== -->
<header id="main-header">

	<div class="row header-inner">

		<div class="logo">
			<a href="index.html">Saylor Academy</a>
		</div>

		<nav id="nav-wrap">

			<a class="mobile-btn" href="#nav-wrap" title="Show navigation">
				<span class='menu-text'>Show Menu</span>
				<span class="menu-icon"></span>
			</a>
			<a class="mobile-btn" href="#" title="Hide navigation">
				<span class='menu-text'>Hide Menu</span>
				<span class="menu-icon"></span>
			</a>

			<ul id="nav" class="nav">
				<li>
					<a href="http://saylor.org">Main Page</a>
				</li>
				<li>
					<a href="{{site.url}}">Course Index</a>
				</li>
				<li>
					<a href="http://saylor.org/blog">Blog</a>
				</li>
				<li>
					<a href="{{page.previous}}">Previous Page</a>
				</li>
				<li>
					<a href="{{page.next}}">Next Page</a>
				</li>
			</ul>

		</nav>
		<!-- /nav-wrap -->

	</div>
	<!-- /header-inner -->

</header>

  <!-- Hero
   =================================================== -->
   <section id="hero">	
   	  
		<div class="row hero-content">



			<div class="twelve columns flex-container">

			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">
						<h1>
							{{page.title}}
							<!--	<span>.</span> -->
						</h1>
						<!--<p>{{page.description}}</p>-->
					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
								<h2>Free Courses. Yay.</h1>	
								<p><a class="button stroke smoothscroll" href="http://saylor.org">More About Us</a></p>																   
							</div>						
					   </li>

					   <!-- Slide -->
					   <li>						
							<div class="flex-caption">
								<h2 >Something something learn lorem ipsum. Maybe link to ePortfolio?</h1>	
								<p><a class="button stroke smoothscroll" href="https://eportfolio.saylor.org">Sure, take me away to ePortfolio</a></p>									   
							</div>					
					   </li>

					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
								<h2>Take a look at some of our real super fancy courses in moodle you can get credit and stuff for.
								<p><a class="button stroke smoothscroll" href="https://learn.saylor.org">BEAM ME UP, MOODLE</a></p>										   
							</div>
					   </li>					              

				   </ul>

			   </div> <!-- .flexslider -->				   

	      </div> <!-- .flex-container -->      

		</div> <!-- .hero-content -->	   

   </section> <!-- #hero -->