<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="/images/favicon.png" rel="icon">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/skel.min.js"></script>
  <script src="/js/skel-panels.min.js"></script>
  <script src="/js/init.js"></script>
	<link rel="stylesheet" href="/css/skel-noscript.css" type='text/css'>
	<link rel="stylesheet" href="/css/style.css" type='text/css'>
	<link rel="stylesheet" href="/css/style-desktop.css" type='text/css'>
</head>
