<!-- Header
   =================================================== -->
<header id="main-header">

	<div class="row header-inner">

		<div class="logo">
			<a href="{{site.url}}">Saylor Academy</a>
		</div>

		<nav id="nav-wrap">

			<a class="mobile-btn" href="#nav-wrap" title="Show navigation">
				<span class='menu-text'>Show Menu</span>
				<span class="menu-icon"></span>
			</a>
			<a class="mobile-btn" href="#" title="Hide navigation">
				<span class='menu-text'>Hide Menu</span>
				<span class="menu-icon"></span>
			</a>

			<ul id="nav" class="nav">
				<li>
					<a href="http://saylor.org">Main Page</a>
				</li>
				<li>
					<a href="{{site.url}}#courselist">Course Index</a>
				</li>
				<li>
					<a href="http://saylor.org/blog">Blog</a>
				</li>
                <!-- DEPRECATED NAVIGATION
				<li>
					<a href="{{page.previous}}">Previous Page</a>
				</li>
				<li>
					<a href="{{page.next}}">Next Page</a>
				</li>
                -->
			</ul>

		</nav>
		<!-- /nav-wrap -->

	</div>
	<!-- /header-inner -->

</header>

<!-- Page Title
   ================================================== -->
<section id="page-title" {% if page.bgimage %} style="background-image: url(../../images/{{ page.bgimage }})"{% endif %}>

	<div class="row">

		<div class="twelve columns">

			<h1>
				{{page.title}}
			</h1>
			<p>{{page.description}}</p>

		</div>

	</div>
	<!-- /row -->

</section>
<!-- /page-title -->