<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include collection_header.html %}

  <!-- Main -->
    <div id="main">
      <div id="content" class="container">
        {{content}}
      </div>
    </div>
  <!-- /Main -->

  <!-- Tweet -->
    <div id="tweet">
      <div class="container">
        <section>
          <blockquote>&ldquo;Education should be free.&rdquo; - Michael Saylor</blockquote>
        </section>
      </div>
    </div>
  <!-- /Tweet -->

    {% include footer.html %}

  </body>

</html>
